@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&family=Unbounded:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ededed;
    color: #000;
}
.header{
    width: 100%;
    height: 100vh;
    background-position: center;
}
.container{
    width: 100%;
    height: 55vh;
    display: flex;
    flex-wrap: wrap;
}
.container img{
    width: 100%;
    height: 60vh;
}
.logo{
    width: 100px;
    margin-left: 20px;
}
.container ul li{
    font-size: 1.4em;
}
.navbar{
    margin-left: 0px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent linear-gradient(#4a4949be,#ff3b0f87,#ff8818a4);
    position: fixed;
    width: 100%;
    z-index: 4;
}
.logo{
    width: 130px;
    height: 85px;
}
nav ul li{
    display: inline-block;
    list-style: none ;
    margin:20px 30px ;
}
nav ul li a{
    
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0372ef;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition:0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-box{
    width: 100%;
}
.header-box h1{
    display: flex;
    justify-content: center;
    position: relative;
    text-decoration: underline;
    top: -60px;
    color: #fff;
}
.paragraph{
    width: 100%;
    height: 100vh;
    padding: 20px 10%;
    margin-top: -200px;
}
.paragraph p{
    font-size: 1.4em;
    color: #0a0a0a;
    font-family: 'Poppins', sans-serif;
}
.container p{
   color: #0372ef; 
}
/*-------------------------------Summery-----------------------------------*/
.summery{
    padding: 30px 0;
    background: #4a4949;
    
}
.summery img{
    margin-left: 35px;
}
.summery-head{
    display: flex;
    justify-content: space-around;
}
.summery-list{
    grid-gap:  40px;
    margin-top: 30px;
}
.summery-list h2{
    color: #fff;
    font-family: 'Unbounded', cursive;
}
.summery-list a{
    text-decoration: none;
    color: #fff;
}
.summery-list a:hover{
    color: #0372ef;
    text-decoration: underline;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright{
    color: #ededea;
    margin-top: 20px 0;
}


/*-----------------------------css for small screen----------------------*/
nav .fa-solid{
    display: none;
}
@media only screen and (max-width:600px){
    #headder{
        background-image: url(image/phone-background.png);
    }
    .header-text{
        margin: top 100%;
        font-size: 16px;  
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
        color: #fff9f9;
        padding: 10px 2%;
    }
    nav ul{
        background: #0372ef;
        position: fixed;
        background: transparent linear-gradient(#4a4949be,#ff3b0f87,#ff8818a4);
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .paragraph{
        display: block;
        align-items: center;
        text-align: center;
        height:270vh;
    }
    .summery-head{
        display: inline-block;
        justify-content: center;
        padding: 10px 0;
        margin: 10% 10px;
    }
    .summery-head .summery-list{
        display: block;
        justify-content: center;
        align-items: center;
        margin: 20px 10%;
        font-size: 10px;
    }
    .summery img{
        margin-left: 15px;
        margin-bottom: 75px;
    }
    .copyright{
        display: block;
        align-items: center;
        text-align: center;
        font-size: 14px;
    }
    .copyright p{
       text-align: center;
    }
}   
