@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&family=Unbounded:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #ededea;
    color: #ede6e6;
}
#headder{
    width: 100%;
    height: 100vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: transparent linear-gradient(#4a4949be,#ff3b0f87,#ff8818a4);
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 2;
   
}
.logo{
    width: 100px;
    margin-left: 20px;
}
nav ul li{
    display: inline-block;
    list-style: none ;
    margin:20px 30px ;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0372ef;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition:0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.container-h{
    display: inline-block;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
}
.container-h.row{
    width: 100%;
    height: 100vh;
}
.img1{
    height: 350px;
    flex-basis: 180px;
    margin-top: 63px;
}
.header-img{
    height: 350px;
    flex-basis: 35%;
    border-radius: 15px;
    margin-top: 230px;
}
.header-text{
    margin-left: 50px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    
    font-size: 30px;
    margin-top:20%;
}
.header-text span{
    color: #0372ef ;
}
.back-video{
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -10;
}
@media (min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        margin-left: 10%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
/*----------------About---------------------*/
.container{
    padding: 10px 10%; 
}
#about{
    padding: 95px 0;
    color: #4a4949;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{

     width: 100%;
     border-radius: 15px;
}
.about-col-2{
    flex-basis:60%;
}
.sub-title{
    font-size: 60px;
    font-weight:600;
    color: #262626;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    
}
.tab-titles p{
    font-size: 1.8em;
}
p{
    font-size: 1.4em;
    font-family: 'Poppins' sans-serif;
}
.tab-links{
    margin-right: 50px; 
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content:'';
    width: 0;
    height: 3px;
    background:#0372ef;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link:hover::after{
    width: 80px;
}
.tab-contents p {
    list-style:none;
    margin: 10px 0;
    align-items: center;
}
.tab-Contents p{
    color:#0372ef;
    font-size: 1.8em;
}
.tab-Contents{
    display: none;
}
.tab-Contents.active-tab{
    display: block;
}

/*-----------------services-------------------------*/
#services{
    padding: 95px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:  40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight:300;
    border-radius: 15px ;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 40px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    color: #ededea;
    margin-bottom: 15px;
}
.services-list div h4{
    color: #ededea;
    font-size: 1.5em;
    text-decoration: underline;
}
.services-list div p{
    color: #ababab;
}
.services-list div a{
    text-decoration:none;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #0372ef;
}
/*---------------------------work------------------------*/
#work{
    padding: 95px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:  40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10x;
    display: block;
    transition: transfrom 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#0372ef);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color:#0372ef;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #0372ef;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color:#070707;
}
.btn:hover{
    background: #0372ef;
}
/*-------------------------contact-----------------------*/
#contact{
    padding: 95px 0;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
    color: #262626;
}
.contact-left p i{
    color: #0372ef;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 20px; 
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #0372ef;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #0372ef;
}
.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 5% 2px ;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
/*-------------------------------Summery-----------------------------------*/
.summery{
    padding: 30px 0;
    background: #4a4949;
}
.summery img{
    margin-left: 35px;
}
.summery-head{
    display: flex;
    justify-content: space-around;
}
.summery-list{
    grid-gap:  40px;
    margin-top: 30px;
}
.summery-list h2{
    color: #fff;
    font-family: 'Unbounded', cursive;
}
.summery-list a{
    text-decoration: none;
    color: #fff;
}
.summery-list a:hover{
    color: #0372ef;
    text-decoration: underline;
}
.copyright{
    color: #ededea;
    margin-top: 20px 0;
}
#msg{
    color: #261cd7;
    margin-top: -40px;
    display: block;
}
#preloader{
    background: #070707 url(images/pdt-removebg-preview.png) no-repeat  center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
/*-----------------------------css for small screen----------------------*/
nav .fa-solid{
    display: none;
}
@media only screen and (max-width:800px){
    .headder{
        width: 100%;
    }
    .header-text{
        margin-top: 20%;
        font-size: 16px;  
    }
    
    .container-h{
        display: flex;
        justify-content: center;
    }
    .header-img{
        height: 350px;
        margin-top: 230px;
    }
    .header-img, .header-text{
        flex-basis: 100%;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
        color: #fff;
    }
    nav ul{
        background: #0372ef;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 30px 10%;
        z-index: 2;
    }
    nav ul li{
        display: block;
        padding: 10px 20%;
        margin:20px 30px ;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 20px;
        left: 0;
        cursor: pointer;
        margin-left: 10px;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .contact-right{
        display: inline-block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    form{
        display: block;
        align-items: center;
        margin: 0;
    }
    .summery-head{
        display: inline-block;
        justify-content: center;
        padding: 10px 0;
        
    }
    .summery-head .summery-list{
        display: block;
        justify-content: center;
        align-items: center;
        margin: 20px 10%;
    }
    .copyright{
        font-size: 14px;
    }
    .copyright p{
        margin: 10% 10px;
    }
    @media (min-aspect-ratio:16/9){
        .back-video{
            width: 100%;
            margin-left: 10%;
            height: auto;
        }
    }
    @media (max-aspect-ratio:16/9){
        .back-video{
            width: auto;
            height: 100%;
        }
    }

}
@media only screen and (max-width:600px){
    
    .headder{
        width: 100%;
        margin-left: 0;
    }
    .header-text{
        
        margin-top: 40%;
        font-size: 10px;  
    }
    .header-img{
        display: block;
        margin: 10px 10%;
        margin-top: -100px;
    }
    .header-img, .header-text{
        flex-basis: 100%;
    }
    .header-text h1{
        font-size: 20px;
    }
    
    nav .fa-solid{
        display: block;
        font-size: 25px;
        color: #fff;
    }
    nav ul{
        background: #0372ef;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 30px 10%;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin: 30px ;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 28px;
        left: 25px;
        margin: 10px;
        cursor: pointer;
    }
    .container{
        width: 100%;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font: size 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left{
        width: 100%;
        display: block;
    }
    .contact-left p {
        display: block ;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 15px;
    }
    .contact-left, .contact-right{ 
        flex-basis: 100%;
    }
    .summery-head{
        display: inline-block;
        justify-content: center;
        padding: 10px 0;
        margin: 10% 10px;
    }
    .summery-head .summery-list{
        display: block;
        justify-content: center;
        align-items: center;
        margin: 20px 10%;
        font-size: 10px;
    }
    .summery img{
        margin-left: 15px;
        margin-bottom: 75px;
    }
    .copyright{
        font-size: 14px;
       
    }
    .copyright p{
        margin: 10% 10px;
    }
    @media (min-aspect-ratio:16/9){
        .back-video{
            width: 100%;
            margin-left: 10%;
            height: auto;
        }
    }
    @media (max-aspect-ratio:16/9){
        .back-video{
            width: auto;
            height: 100%;
        }
    }
}